.roundCorners{
	border-radius: 10px;
	padding: 5px 7px;
}

.paddingC {
	padding: 10%;
	/*background-color: gray;*/
}

/*.maxWidth {
	max-width: 960px;
}*/

.marginTop {
	margin-top: 40px;
}

.marginBottom {
	margin-bottom:  40px;
}

a:hover,
a:focus {
    text-decoration: none;
}

p {
	color: #333;
}